html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.7;
  font-weight: lighter;
}

.author {
  color: rgba(34, 34, 34, 0.9);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

div.source {
  margin-top: 24px;
}

p.note {
  border: 1px solid rgba(34, 34, 34, 0.10);
  box-sizing: border-box;
  font-weight: normal;
  padding: 8px 12px;
  border-radius: 4px;
}

div.by-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 32px;
  color: rgba(34, 34, 34, 0.5);
  font-size: 0.875em;
  font-weight: normal;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 32px;
}

img.icon {
  width: 16px;
  height: 16px;
  margin-right: 21px;
}

.highlight-style-0 {
  text-decoration: underline 2px #F34734;
}

.highlight-style-1 {
  background-color: #9AC67C;
}

.highlight-style-2 {
  background-color: #95AAB7;
}

.highlight-style-3 {
  background-color: #EBA21D;
}

.highlight-style-4 {
  background-color: #EA9EAB;
}

.highlight-style-5 {
  background-color: #C8ACC7;
}

.note-style-0 {
  text-decoration: underline 2px #f78174;
}

.note-style-1 {
  background-color: #c6e4b2;
}

.note-style-2 {
  background-color: #c7d5dd;
}

.note-style-3 {
  background-color: #fbcd79;
}

.note-style-4 {
  background-color: #fdd4db;
}

.note-style-5 {
  background-color: #C8ACC7;
}


h1 {
  margin: 0;
  padding: 40px 0 0;
  color: rgba(34, 34, 34, 0.9);
  font-size: 2em;
  font-weight: bold;
  line-height: 125%;
  text-align: center;
}
  
h2 {
  margin: 0;
  padding: 42px 4px 0;
  color: rgba(34, 34, 34, 0.9);
  font-size: 1.5em;
  font-weight: bold;
  line-height: 134%;
}
  
h1 + h2 {
  padding: 32px 0 0;
}